@{
    ViewBag.Title = "Contact";
}


   <h4> ASK ME ANYTHING</h4>



<address>
    skype - sasha.samsonova<br>
    San Francisco, CA 94103<br>
    <abbr title="Phone">P:</abbr> tel. +1(724)732-7519
</address>

<address>
    <strong>Full Name</strong><br>
    <a href="mailto:#">samsonova.sashaphoto@gmail.com</a>
</address>